@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+JP:wght@400;500;700&display=swap');

:root{
    --background-header-color: #000000;
    --background-hover-letters: #B51B3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: var(--background-header-color);
    display: flex;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure{
    display: flex;
    margin-left: 3rem;
}

.image-nav{
    width: 4rem;
    padding: 0.2rem;
}
.image-nav:hover{
    animation: moveIt 2s infinite ease-in-out;
}

header figure a{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}	

ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    padding: 10px;
    margin: 0 10px;
    color: aliceblue;
    text-decoration: none;
    transition: 400ms;
}

nav ul li a:hover{
    color: var(--background-hover-letters);
    background-color: #000;
}

@keyframes moveIt{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0);
    }
    
}

/* HEADER END */
.searching{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.searching div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.searching div label{
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    flex-direction: column;
}

.searching div label input{
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgb(202, 202, 202);
    outline: none;
    margin: 10px 0;
    transition: 500ms;
}

.searching div label input:focus{
    border-bottom: 2px solid #000
}


/* MEDIA QUERIES */
@media (max-width: 500px){
    figure{
        display: none;
    }
}